
/* Tablet and mobile */
@media (max-width: 1023px) {
    :root{
        --slider-height:400px;
    }
    .header-logo-wrap{
        justify-content:center;
    }
    .app-slideshow__control-prev,
    .app-slideshow__control-next{
        display:none;
    } 
    .app-category-container{
        padding:0px 16px;
    }
    .app-category-content + .app-category-content{
        margin-top:16px
    }
    .app-category-container-col{
        margin-bottom: 16px;
    }
    .list-product__actions-mobile{
        display:flex;
    }
    .list-product__actions{
        display: none;
    }
    .row.app_content-wrap-container {
        margin-left:12px;
        margin-right: 12px;
    }
    .modal-quickview__header-close i{
        font-size: 3rem;
        font-weight:600
    }
}
/* mobile */
@media (max-width: 576px){
    :root{
        --header-height:70px;
        --slider-height:200px
    }
    .header-group-btn__list-items-auth, .header-group-btn__list-items-like{
        display:none;
    }
    .modal-search,.modal-auth,.modal-cart,.modal-like, .modal-menu-mobile{
        width:320px;
        /* right:-320px; */
    }
    .app-category-content-1-link-thumbnail,
    .app-category-content-4-link-thumbnail{
        padding-top: 50%;
    }
    
   
} 
@media (max-width: 739px) {
    .modal-content.modal-quickview{
        top:0px;
        /* left:0px; */
        transform:unset;
        pointer-events: visible;
    }
    .modal-quickview-wrap{
        top:0;
        transform:unset;
    }
    .modal-quickview.modal-quickview--active{
        left:0px
    }
    .footer-content-wrap{
        padding:0 15px;
    }
    .app-news-list{
        padding:0 15px
    }
    .app-info-content
    {
        margin-bottom: 15px;
    }
    .app-info-content-description-center{
        order:2
    }
    .app-info-content-thumbnail-center{
        order:1
    }
    .app-contact-container,.app-info-wrap{
        margin:0px 15px
    }
    .app-breadcrumb-wrap,.app-contact-container{
        margin-bottom: 30px;
    }
    .app-contact-form{
        order:2;
    }
    .app-contact-info{
        order: 1;
    }
}

